@model FutsalGoal.Model.SpModels.UserLoginSpModel

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="width:100%;">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <ul class="navbar-nav ml-auto">
        <div class="topbar-divider d-none d-sm-block"></div>
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">

            @if (Model != null)
            {
                <a class="nav-link dropdown-toggle text-black-50" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Model.DisplayName</span>
                    <i class="fas fa-fw fa-user-cog"></i>
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <div class="dropdown-item">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        @Model.UserRole
                    </div>
                    <div class="dropdown-item">
                        <i class="fas fa-envelope fa-sm fa-fw mr-2 text-gray-400"></i>
                        @Model.EmailId
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-primary" asp-action="Index" asp-controller="UserProfile">
                        <i class="fas fa-address-card fa-sm fa-fw mr-2 text-gray-400"></i>
                        My Profile
                    </a>

                    <a class="dropdown-item text-primary" asp-action="ChangePassword" asp-controller="UserDetail">
                        <i class="fas fa-lock-open fa-sm fa-fw mr-2 text-gray-400"></i>
                        Change password
                    </a>

                    <div class="dropdown-divider"></div>
                    <form asp-action="Logout" asp-controller="User" method="post" class="dropdown-item" id="logoutForm">
                        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out fa-fw"></i>Log off</a>
                    </form>
                </div>
            }
            else
            {
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">User Login</span>
                    <i class="fas fa-fw fa-user-cog"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a asp-action="Login" asp-controller="User" class="dropdown-item">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Login
                    </a>
                </div>
            }
        </li>
    </ul>

</nav>