
<div class="container">
    <div class="card shadow">
        <div class="card-header w-100 text-center bg-primary text-white text-medium"> Welcome to "Platform-x" Admin Panel.</div>
        <div class="card-body text-black-50">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p> This is only accessible for Admins.</p>
                </li>
                <li class="list-group-item">
                    <p> Please use left menu to change admin setting.</p>
                </li>
            </ul>
        </div>
    </div>
</div>