@model FutsalGoal.Model.Models.ReturnModel
@{
    ViewData["Title"] = "Activate Email";
    Layout = null;
}

<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/js/jquery.min.js"></script>

<div class="row col-sm-8 col-lg-offset-2">
    @if (Model.Success)
    {
        <div class="alert alert-success text-center">
            Thank you! Please login to proceed. You are now active memeber of System.
        </div>
    }
    else
    {
        <div class="alert alert-danger text-center">
            Unexpected error occured. Unable to activate the user. Please try again or contact admin.
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        if ('@Model.Success' == "True") {
            setTimeout(function() {
                  window.location.href = "http://booksansar.kbits.com.np/User/Login";
                }, 2000);
            }
    })

</script>
