@model FutsalGoal.Model.Models.ForgetPasswordModel
@{
    Layout = null;
}
<style>
    .row {
        margin-top: 200px;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Forgot Password</title>

    <link href="~/css/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/css/sb-admin/sb-admin-2.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">
    @*image loader*@
    <div id="loading" style="display:none; margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(102, 102, 102); z-index: 30001; opacity: 0.8;">
        <p style="position: fixed; color: White; top: 50%; left: 45%;">
            <img src="~/images/spinner.gif" width="80" height="80" />
        </p>
    </div>
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                                <p class="mb-4" id="txtDefination">We get it, stuff happens. Just enter your email address below and we'll send you a code to reset your password!</p>
                            </div>
                            <form id="frmSendCode" class="user" asp-controller="User" asp-action="SendCode" data-ajax="true" data-ajax-method="POST" data-ajax-success="onCodeSendSuccess" data-ajax-begin="onForgetPasswordBegin">
                                <div class="form-group">
                                    <input asp-for="EmailId" type="email" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Please enter your email address...">
                                    <span asp-validation-for="EmailId" class="text-danger"></span>
                                </div>

                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Send Code
                                </button>

                            </form>
                            <form id="frmForgotPassword" class="user" style="display:none" asp-action="ForgetPassword" data-ajax="true" data-ajax-method="POST" data-ajax-success="onForgetPasswordSuccess">
                                <div class="form-group">
                                    <input asp-for="VerifyEmailId" type="hidden" />
                                    <input asp-for="Code" type="text" class="form-control form-control-user" id="resetCode" aria-describedby="emailHelp" placeholder="Please enter your code..">
                                    <span asp-validation-for="Code" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Send me password
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a asp-controller="User" asp-action="Register" class="small">Create an Account!</a>
                            </div>
                            <div class="text-center">
                                <a asp-controller="User" asp-action="Login" class="small">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

<environment include="Development">
    <!-- Bootstrap core JavaScript-->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/requiredJs/Common.js"></script>
    <script src="~/js/requiredJs/bootstrap-notify.js"></script>
    <!-- Custom scripts for all pages-->
    <!-- <script src="~/lib/sb-admin/js/sb-admin-2.js"></script>-->
</environment>

<environment include="Production, Staging">
    <script src="~/js/Bundle/lib-app-main.min.js"></script>
</environment>

<script type="text/javascript">

    $(document).ajaxStart(function () {
        $("#loading").show();

    });
    $(document).ajaxStop(function () {
        $("#loading").hide();
    });

    function onSendCodeBegin() {
        $.validator.unobtrusive.parse("#frmSendCode");
    }
    function onForgetPasswordBegin() {
        $.validator.unobtrusive.parse("#frmForgotPassword");
    }

    function onCodeSendSuccess(data) {
        ShowMessage(data.success, data.message);
        if (data.success) {
            $('#frmSendCode').hide();
            $('#frmForgotPassword').show();
           
            $('#VerifyEmailId').val($('#EmailId').val());
            $('#txtDefination').text("Please enter your code below.");
            onForgetPasswordBegin();
        }
    }

    function onForgetPasswordSuccess(data) {
        ShowMessage(data.success, data.message);
        if (data.success) {
            setTimeout(function () {
                window.location.href = "/User/Login";
            }, 3000);
        }
    }
</script>