<div class="container">
    <div class="card shadow">
        <div class="card-body">
            <div class="row form-group">
                <div class="col-md-12">
                    <h1 class="text-danger text-center">
                        Oops !!
                    </h1>
                    <h4 class="text-danger text-center">
                        Resources you are looking for is not available.
                    </h4>

                    <img src="~/images/404NotFound.jpg" style="width:100%" />
                    <br />
                    <div class="text-center">
                        Sorry, an error has occured, Requested page not found!
                    </div>

                    <br />
                    <div class="form-group">
                        <div class="float-right">
                            <a asp-action="Index" asp-controller="Dashboard" class="btn btn-sm bg-success text-white">
                                <i class="fa fa-home mr-2"></i>
                                Take Me Home
                            </a>

                            <a asp-action="Index" asp-controller="ContactUs" class="btn btn-sm bg-danger text-white">
                                <i class="fa fa-phone mr-2"></i>
                                Contact Support
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
