@model FutsalGoal.Model.Models.PasswordModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-controller="UserDetail" asp-action="ChangePassword" data-ajax-method="post" data-ajax="true" data-ajax-success="onSuccessChangePassword">
    <div class="container text-medium">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-header text-medium bg-primary text-center text-white"> Change password </div>
                    <div class="card-body">
                        <div class="row form-group">
                            <label class="col-md-3">Old password</label>
                            <div class="col-md-6">
                                <input asp-for="OldPassword" class="form-control" />
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-3">New password</label>
                            <div class="col-md-6">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-3">Confirm password</label>
                            <div class="col-md-6">
                                <input asp-for="RePassword" class="form-control" />
                                <span asp-validation-for="RePassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-9">
                                <div class="float-right">
                                    <input type="submit" class="btn btn-sm btn-primary rounded" value="Change password" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<environment include="Development">
    <script src="~/AppJs/User.js"></script>
</environment>
<environment include="Production,Staging">
    <script src="~/js/Bundle/User.min.js"></script>
</environment>
