@page
@model IndexModel

<div class="text-center container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display-4 font-weight-bold">SANCHO : A MEDICAL HUB</h2>
            <p class="lead">
                A completed medical platform.
            </p>
            <br />
            <p>
                <img class="img-fluid rounded" src="~/images/healthcare.jpg" />
            </p>
            <br />
            <br />
            <p><h5 class="text-white btn btn-secondary">If you are admin. Please login to proceed. </h5></p>
        </div>
    </div>
</div>
